{% extends 'base.html' %}

{% block head %}
<title>О нас</title>
{% endblock %}

{% block body %}
<br>
<h1>Історія гурту</h1>
<br>
<main role="main">
    <div class="jumbotron" style="background-color: rgb(233, 214, 45);">
        <div class="col-sm-8 mx-auto">
            <p><b>Skillet</b> — американская христианская рок-группа из города Мемфис, штат Теннесси, основанная в 1996 году. На данный момент группой выпущено десять студийных альбомов, четыре EP и два концертных альбома. Состав группы: Джон Купер и его жена Кори Купер, а также Джен Леджер, Сет Моррисон.</p>
        </div>
    </div>
</main>
{% endblock %}